@use "../../assets/scss/" as *;
.detail {
    margin-bottom: 110px;
    &__wrapper {
        display: flex;
        justify-content: space-between;
        gap: 30px;

        @include tablet {
            flex-direction: column;
        }
    }
    &__img {
        width: 50%;
        @include tablet {
            width: 100%;
        }
    }
    &__content {
        width: 50%;
        @include tablet {
            width: 100%;
        }
    }
    &__name {
        font-size: 28px;
        font-weight: 700;
        margin-bottom: 20px;
    }
    &__rate {
        margin-bottom: 20px;
        display: flex;
        align-items: center;
        gap: 30px;
    }
    &__rate-stars {
        i {
            color: #fbb403;
            font-size: 18px;
        }
    }
    &__rate-review {
        font-size: 14px;
    }
    &__price {
        font-size: 25px;
        font-weight: 700;
        margin-bottom: 16px;
        color: $primary-color;
    }
    &__country {
        margin-bottom: 20px;
        font-size: 14px;
        span {
            margin-right: 8px;
            color: rgba(0, 0, 0, 0.4);
        }
    }
    &__desc {
        margin-bottom: 20px;
        font-size: 14px;
    }
    &__control {
        display: flex;
        gap: 30px;
        margin: 30px 0;
    }

    &__btns {
        display: flex;
        align-items: center;
        gap: 14px;
    }
    &__btn {
        min-width: 2.5rem;
        height: 2.5rem;
        line-height: 2.5rem;
        font-size: 20px;
        border-radius: 50%;
        background-color: rgba(0, 0, 0, 0.05);
        text-align: center;
        cursor: pointer;
        transition: all 0.3s ease;
        &:hover {
            background-color: rgba(0, 0, 0, 0.2);
        }
    }
    &__quantity {
        font-size: 20px;
    }
    &__add-to-cart {
        flex: 1;

        display: flex;
        align-items: center;
        justify-content: center;
        gap: 8px;
        background-color: $primary-color;
        color: $white-color;
        box-shadow: #000000 0px 3px 8px 0px;
        border-radius: 30px;
        cursor: pointer;
        transition: all 0.3s ease;

        &:hover {
            filter: brightness(0.8);
        }
    }

    &__commits {
        margin-top: 20px;
    }
    &__commit {
        display: flex;
        align-items: center;

        position: relative;
        padding-left: 16px;

        & ~ & {
            margin-top: 16px;
        }
        i {
            color: $primary-color;
            margin-right: 16px;
            width: 16px;
        }

        &::before {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 3px;
            height: 100%;
            background-color: $primary-color;
            border-radius: 2px;
        }
    }

    &__products {
        margin-top: 110px;
    }
    &__products__yellow-text {
        text-align: center;
        font-size: 22px;
        color: #fbb403;
    }
    &__products__heading-text {
        text-align: center;
        font-size: 32px;
        margin-top: 5px;
        font-weight: 700;
        color: rgba(0, 0, 0, 0.84);
        margin-bottom: 40px;
    }
}
