@use "../../assets/scss/" as *;
.search {
    border-radius: 30px;
    overflow: hidden;
    flex: 1;
    padding: 8px;

    &__input {
        position: relative;
        display: flex;
        align-items: center;
        border-radius: 30px;
        border: 1px solid #ccc;
        padding: 10px 20px;

        @include mobile {
            padding: 8px 16px;
            font-size: 12px;
        }
        input {
            width: 100%;
        }
        i {
            position: absolute;
            top: 50%;
            right: 10px;
            transform: translateY(-50%);
            cursor: pointer;
            padding: 3px;

            &:hover {
                color: #aaa;
            }
        }
    }
}
