@use "../../assets/scss/" as *;
.banner {
    background-image: url(../../assets/img/banner.jpg);
    color: $white-color;
    height: 40vh;
    margin-bottom: 60px;
    &__content {
        height: 100%;
        padding-top: calc($header-height + 30px);
    }
    &__heading {
        text-align: center;
    }
    &__paths {
        display: flex;
        align-items: center;
        justify-content: center;

        margin-top: 20px;
    }
    &__path {
        &.active {
            span {
                color: $primary-color;
            }
        }
        i {
            margin: 0 32px;
        }
    }
}
